<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Darkroom</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="50,50,50" />
                <SvgColor Name="Paint High" Value="35,35,35" />
                <SvgColor Name="Paint Shadow" Value="55,55,55" />
                <SvgColor Name="Paint Deep Shadow" Value="60,60,60" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush High" Value="240,240,240" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="75,75,75" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="101,96,137" />
                <SvgColor Name="Accent Paint Dark" Value="84,79,118" />
                <SvgColor Name="Accent Paint Light" Value="70,70,70" />
                <SvgColor Name="Accent Paint Lighter" Value="55,55,55" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="180,177,205" />
                <SvgColor Name="Red" Value="246,71,37" />
                <SvgColor Name="Green" Value="52,166,63" />
                <SvgColor Name="Blue" Value="35,158,244" />
                <SvgColor Name="Yellow" Value="247,174,17" />
                <SvgColor Name="Black" Value="200,200,200" />
                <SvgColor Name="Gray" Value="100,100,100" />
                <SvgColor Name="White" Value="35,35,35" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="253,250,248" />
                <SvgColor Name="Paint High" Value="35,35,35" />
                <SvgColor Name="Paint Shadow" Value="253,241,232" />
                <SvgColor Name="Paint Deep Shadow" Value="253,244,236" />
                <SvgColor Name="Brush" Value="35,35,35" />
                <SvgColor Name="Brush High" Value="35,35,35" />
                <SvgColor Name="Brush Light" Value="253,241,222" />
                <SvgColor Name="Brush Major" Value="75,75,75" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="36,0,0" />
                <SvgColor Name="Accent Paint Dark" Value="36,0,0" />
                <SvgColor Name="Accent Paint Light" Value="70,70,70" />
                <SvgColor Name="Accent Paint Lighter" Value="55,55,55" />
                <SvgColor Name="Accent Brush" Value="253,250,248" />
                <SvgColor Name="Accent Brush Light" Value="253,250,248" />
                <SvgColor Name="Red" Value="246,71,37" />
                <SvgColor Name="Green" Value="52,166,63" />
                <SvgColor Name="Blue" Value="35,158,244" />
                <SvgColor Name="Yellow" Value="247,174,17" />
                <SvgColor Name="Black" Value="200,200,200" />
                <SvgColor Name="Gray" Value="100,100,100" />
                <SvgColor Name="White" Value="35,35,35" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="smsnnPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding" contract="ServiceReference1.smsnn" name="smsnnPort" />
    </client>
  </system.serviceModel>
</configuration>